body, table, div, p, dl {
	font: 400 14px/22px Roboto,sans-serif;
}

/* @group Heading Levels */

.title {
	font: 400 14px/28px Roboto,sans-serif;
	font-size: 150%;
	font-weight: bold;
    /*margin-left: 10%;
    margin-right: 10%;*/
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#topbody {
    /* background: url('/images/world.gif') no-repeat;
    background-position: top right; */
    /* background: transparent; */
}

#header h1 {
    border-bottom: dotted 1px green;
    text-align: center;
    font-size: 15pt;
    margin-left: 4px;
    line-spacing: 1px;
}

#header h2 {
    text-align: right;
    font-size: 10pt;
}

#header h3 {
    text-align: right;
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
    line-spacing: 1px;
}

/* Set body config */
body {
    background-color: #deffea;
    background: url('wontonsoup3.jpg');
    font-size: 14px;
    font-family: verdana, arial, sans-serif;
}

body h1 {
    font-size: 15pt;
    margin-left: 0%;
}

body h2 {
    font-size: 14pt;
    margin-left: 4%;
}

body h3 {
    font-size: 12pt;
    margin-left: 8%;
}

body h4 {
    font-size: 10pt;
    margin-left: 10%;
}

body h5 {
    font-size: 10pt;
    margin-left: 13%;
}

body h6 {
    font-size: 10pt;
    margin-left: 16%;
}

div#body {
    text-align: left;
}

div#projectname {
    margin-left: 5%;
    font: 200% Tahoma, Arial,sans-serif;
    padding: 2px 0px;
}

#mainDiv {
    border: 1px solid black;
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3px;
    min-height: 35em;
    height: auto;
    height: 95%;
    -moz-border-radius-topleft: 4em;
    -moz-border-radius-topright: 4em;
    -moz-border-radius-bottomright: 4em;
    -moz-border-radius-bottomleft: 4em;
    border-radius: 4em;
    -webkit-border-radius: 4em;
}

#mainBody {
    margin-left: 7%;
    margin-right: 5%;
}

#footer {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

dt {
    font-weight: bold;
}
